<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="TestRailSuiteId" value="44"/>
    <add key="TestRailSectionId" value ="6"/> 
    <add key="MTM_TestPlanId" value="2738"/>
    <add key="MTM_TestSuiteId" value="6561"/>
    <add key="Project" value="VMob%20Platform"/>
   </appSettings>
</configuration>
